.navbar{
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 1 rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}
@media (max-width: 992px) {
    .desktopMenuListItem {
      display: block;
      margin: 1rem 0;
    }
  
    .desktopMenuBtn {
      display: block;
      width: 100%;
      text-align: center;
    }
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #087ea4;
}
.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
    margin: auto 0;
}

.desktopMenuImg{
    object-fit: contain;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}